@use "../../styles/global.scss" as *;

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary-color-1-dark-grey;
    padding: 2rem 2rem 0 2rem;
    z-index: 1000;
    
    // &__text {
       
    // }
    &__button-container {
        text-align: center;
    }
    &__button {
        @include CTA-button;
        margin: 1rem;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff58;
    z-index: 1000;
}