@use "../../styles/global.scss" as *;

.navbar {
  background-color: $primary-color-1-black;
  color: $primary-color-2-white;
  border-bottom: solid 1px $primary-color-2-white;
  &__wrapper {
    @include margin;
  }
  &__container {
    @include display-flex(column, center, space-between);
    @include tablet {
      flex-direction: row;
    }
  }
  &__logo {
    @include subheader;
    @include component-margin-top-bottom;
  }
  &__logo-container {
    position: relative;
  }
  &__logo-image {
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    right: -2.6rem;
    top: 0.4rem;
  }
  &__links {
    @include display-flex(row, center, space-between);
    @include labels-buttons;
  }
  &__link-item {
    @include CTA-button;
    margin-left: 1rem;
    text-decoration: none;
    &--selected {
      border: solid 1px $primary-color-2-white;
    }
  }
}
